<!-- templates/employee_dashboard.html -->
{% extends "base.html" %}

{% block content %}
<h2>Employee Dashboard</h2>
<div class="list-group">
    <a href="{{ url_for('manage_branches') }}" class="list-group-item list-group-item-action">Manage Branches</a>
    <a href="{{ url_for('manage_employees') }}" class="list-group-item list-group-item-action">Manage Employees</a>
    <a href="{{ url_for('manage_customers') }}" class="list-group-item list-group-item-action">Manage Customers</a>
    <a href="{{ url_for('manage_accounts') }}" class="list-group-item list-group-item-action">Manage Accounts</a>
    <a href="{{ url_for('manage_loans') }}" class="list-group-item list-group-item-action">Manage Loans</a>
    <a href="{{ url_for('view_transactions') }}" class="list-group-item list-group-item-action">View Transactions</a>
</div>
{% endblock %}
