<!-- templates/view_transactions.html -->
{% extends "base.html" %}

{% block content %}
<h2>View Transactions</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Transaction Type</th>
            <th>Date</th>
            <th>Time</th>
            <th>Amount</th>
            <th>Account Number</th>
            <th>Transaction Charge</th>
        </tr>
    </thead>
    <tbody>
        {% for txn in transactions %}
        <tr>
            <td>{{ txn.TransactionID }}</td>
            <td>{{ txn.TransactionType }}</td>
            <td>{{ txn.TDate }}</td>
            <td>{{ txn.TTime }}</td>
            <td>${{ "{:,.2f}".format(txn.Amount) }}</td>
            <td>{{ txn.AccountNumber }}</td>
            <td>${{ "{:,.2f}".format(txn.TransactionCharge) }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7" class="text-center">No transactions found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}